In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('data2.csv')

In [3]:
data

,Unnamed: 0,zip,NAICS.id,NAICS.display-label,RCPSZFE.display-label,ESTAB,City Name,State,level,weight,scale,city scale
0,0,6001,44-45,Retail trade,All establishments,81,Avon,CT,1,0,Total,large
1,1,6001,44-45,Retail trade,Establishments operated entire year with sales...,4,Avon,CT,1,1,D,large
2,2,6001,44-45,Retail trade,Establishments operated entire year with sales...,8,Avon,CT,1,2,C,large
3,3,6001,44-45,Retail trade,Establishments operated entire year with sales...,20,Avon,CT,1,4,B,large
4,4,6001,44-45,Retail trade,Establishments operated entire year with sales...,36,Avon,CT,1,8,A,large
5,5,6001,441,Motor vehicle and parts dealers,All establishments,2,Avon,CT,2,0,Total,large
6,6,6001,441,Motor vehicle and parts dealers,Establishments operated entire year with sales...,2,Avon,CT,2,8,A,large
7,7,6001,4411,Automobile dealers,All establishments,1,Avon,CT,3,0,Total,large
8,8,6001,4411,Automobile dealers,Establishments operated entire year with sales...,1,Avon,CT,3,8,A,large
9,9,6001,44111,New car dealers,All establishments,1,Avon,CT,4,0,Total,large
10,10,6001,44111,New car dealers,Establishments operated entire year with sales...,1,Avon,CT,4,8,A,large
11,11,6001,4413,"Automotive parts, accessories, and tire stores",All establishments,1,Avon,CT,3,0,Total,large
12,12,6001,4413,"Automotive parts, accessories, and tire stores",Establishments operated entire year with sales...,1,Avon,CT,3,8,A,large
13,13,6001,44132,Tire dealers,All establishments,1,Avon,CT,4,0,Total,large
14,14,6001,44132,Tire dealers,Establishments operated entire year with sales...,1,Avon,CT,4,8,A,large
15,15,6001,442,Furniture and home furnishings stores,All establishments,10,Avon,CT,2,0,Total,large
16,16,6001,442,Furniture and home furnishings stores,Establishments operated entire year with sales...,1,Avon,CT,2,1,D,large
17,17,6001,442,Furniture and home furnishings stores,Establishments operated entire year with sales...,1,Avon,CT,2,2,C,large
18,18,6001,442,Furniture and home furnishings stores,Establishments operated entire year with sales...,3,Avon,CT,2,4,B,large
19,19,6001,442,Furniture and home furnishings stores,Establishments operated entire year with sales...,4,Avon,CT,2,8,A,large
20,20,6001,4421,Furniture stores,All establishments,2,Avon,CT,3,0,Total,large
21,21,6001,4421,Furniture stores,Establishments operated entire year with sales...,1,Avon,CT,3,4,B,large
22,22,6001,4421,Furniture stores,Establishments operated entire year with sales...,1,Avon,CT,3,8,A,large
23,23,6001,4422,Home furnishings stores,All establishments,8,Avon,CT,3,0,Total,large
24,24,6001,4422,Home furnishings stores,Establishments operated entire year with sales...,1,Avon,CT,3,1,D,large
25,25,6001,4422,Home furnishings stores,Establishments operated entire year with sales...,1,Avon,CT,3,2,C,large
26,26,6001,4422,Home furnishings stores,Establishments operated entire year with sales...,2,Avon,CT,3,4,B,large
27,27,6001,4422,Home furnishings stores,Establishments operated entire year with sales...,3,Avon,CT,3,8,A,large
28,28,6001,44221,Floor covering stores,All establishments,2,Avon,CT,4,0,Total,large
29,29,6001,44221,Floor covering stores,Establishments operated entire year with sales...,2,Avon,CT,4,4,B,large
...,...,...,...,...,...,...,...,...,...,...,...,...
2211924,2211924,99403,453,Miscellaneous store retailers,Establishments operated entire year with sales...,1,Clarkston,WA,2,1,D,large
2211925,2211925,99403,453,Miscellaneous store retailers,Establishments operated entire year with sales...,2,Clarkston,WA,2,2,C,large
2211926,2211926,99403,453,Miscellaneous store retailers,Establishments operated entire year with sales...,1,Clarkston,WA,2,8,A,large
2211927,2211927,99403,4533,Used merchandise stores,All establishments,2,Clarkston,WA,3,0,Total,large
2211928,2211928,99403,4533,Used merchandise stores,Establishments operated entire year with sales...,1,Clarkston,WA,3,1,D,large
2211929,2211929,99403,4533,Used merchandise stores,Establishments operated entire year with sales...,1,Clarkston,WA,3,2,C,large
2211930,2211930,99403,4539,Other miscellaneous store retailers,All establishments,2,Clarkston,WA,3,0,Total,large
2211931,2211931,99403,4539,Other miscellaneous store retailers,Establishments operated entire year with sales...,1,Clarkston,WA,3,2,C,large
2211932,2211932,99403,4539,Other miscellaneous store retailers,Establishments operated entire year with sales...,1,Clarkston,WA,3,8,A,large
2211933,2211933,99403,45393,Manufactured (mobile) home dealers,All establishments,1,Clarkston,WA,4,0,Total,large
2211934,2211934,99403,45393,Manufactured (mobile) home dealers,Establishments operated entire year with sales...,1,Clarkston,WA,4,8,A,large
2211935,2211935,99403,45399,All other miscellaneous store retailers,All establishments,1,Clarkston,WA,4,0,Total,large
2211936,2211936,99403,45399,All other miscellaneous store retailers,Establishments operated entire year with sales...,1,Clarkston,WA,4,2,C,large
2211937,2211937,99403,453998,All other miscellaneous store retailers (excep...,All establishments,1,Clarkston,WA,5,0,Total,large
2211938,2211938,99403,453998,All other miscellaneous store retailers (excep...,Establishments operated entire year with sales...,1,Clarkston,WA,5,2,C,large
2211939,2211939,99403,454,Nonstore retailers,All establishments,7,Clarkston,WA,2,0,Total,large
2211940,2211940,99403,454,Nonstore retailers,Establishments operated entire year with sales...,3,Clarkston,WA,2,1,D,large
2211941,2211941,99403,454,Nonstore retailers,Establishments operated entire year with sales...,1,Clarkston,WA,2,4,B,large
2211942,2211942,99403,454,Nonstore retailers,Establishments operated entire year with sales...,1,Clarkston,WA,2,8,A,large
2211943,2211943,99403,4541,Electronic shopping and mail-order houses,All establishments,2,Clarkston,WA,3,0,Total,large
2211944,2211944,99403,454111,Electronic shopping,All establishments,2,Clarkston,WA,5,0,Total,large
2211945,2211945,99403,4543,Direct selling establishments,All establishments,5,Clarkston,WA,3,0,Total,large
2211946,2211946,99403,4543,Direct selling establishments,Establishments operated entire year with sales...,3,Clarkston,WA,3,1,D,large
2211947,2211947,99403,4543,Direct selling establishments,Establishments operated entire year with sales...,1,Clarkston,WA,3,4,B,large
2211948,2211948,99403,4543,Direct selling establishments,Establishments operated entire year with sales...,1,Clarkston,WA,3,8,A,large
2211949,2211949,99403,45431,Fuel dealers,All establishments,1,Clarkston,WA,4,0,Total,large
2211950,2211950,99403,45431,Fuel dealers,Establishments operated entire year with sales...,1,Clarkston,WA,4,4,B,large
2211951,2211951,99403,45439,Other direct selling establishments,All establishments,4,Clarkston,WA,4,0,Total,large
2211952,2211952,99403,45439,Other direct selling establishments,Establishments operated entire year with sales...,3,Clarkston,WA,4,1,D,large
2211953,2211953,99403,45439,Other direct selling establishments,Establishments operated entire year with sales...,1,Clarkston,WA,4,8,A,large