In [2]:
import pandas as pd
import numpy as np

from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [7]:
datas = []

In [8]:
datas.append(pd.read_csv('part_1.csv'))
datas.append(pd.read_csv('part_2.csv'))
datas.append(pd.read_csv('part_3.csv'))
datas.append(pd.read_csv('part_4a.csv'))
datas.append(pd.read_csv('part_4b.csv'))
datas.append(pd.read_csv('part_5.csv'))

In [19]:
alldata = pd.concat(datas, 0)

In [20]:
alldata

,Unnamed: 0,zip,NAICS.id,NAICS.display-label,RCPSZFE.display-label,ESTAB,City Name,State
0,1,6001,44-45,Retail trade,All establishments,81,Avon,CT
1,2,6001,44-45,Retail trade,Establishments operated for the entire year,68,Avon,CT
2,3,6001,44-45,Retail trade,Establishments operated entire year with sales...,4,Avon,CT
3,4,6001,44-45,Retail trade,Establishments operated entire year with sales...,8,Avon,CT
4,5,6001,44-45,Retail trade,Establishments operated entire year with sales...,20,Avon,CT
5,6,6001,44-45,Retail trade,Establishments operated entire year with sales...,36,Avon,CT
6,7,6001,44-45,Retail trade,Establishments not operated for the entire year,13,Avon,CT
7,8,6001,441,Motor vehicle and parts dealers,All establishments,2,Avon,CT
8,9,6001,441,Motor vehicle and parts dealers,Establishments operated for the entire year,2,Avon,CT
9,10,6001,441,Motor vehicle and parts dealers,Establishments operated entire year with sales...,2,Avon,CT
10,11,6001,4411,Automobile dealers,All establishments,1,Avon,CT
11,12,6001,4411,Automobile dealers,Establishments operated for the entire year,1,Avon,CT
12,13,6001,4411,Automobile dealers,Establishments operated entire year with sales...,1,Avon,CT
13,14,6001,44111,New car dealers,All establishments,1,Avon,CT
14,15,6001,44111,New car dealers,Establishments operated for the entire year,1,Avon,CT
15,16,6001,44111,New car dealers,Establishments operated entire year with sales...,1,Avon,CT
16,17,6001,441110,New car dealers,All establishments,1,Avon,CT
17,18,6001,441110,New car dealers,Establishments operated for the entire year,1,Avon,CT
18,19,6001,441110,New car dealers,Establishments operated entire year with sales...,1,Avon,CT
19,20,6001,4413,"Automotive parts, accessories, and tire stores",All establishments,1,Avon,CT
20,21,6001,4413,"Automotive parts, accessories, and tire stores",Establishments operated for the entire year,1,Avon,CT
21,22,6001,4413,"Automotive parts, accessories, and tire stores",Establishments operated entire year with sales...,1,Avon,CT
22,23,6001,44132,Tire dealers,All establishments,1,Avon,CT
23,24,6001,44132,Tire dealers,Establishments operated for the entire year,1,Avon,CT
24,25,6001,44132,Tire dealers,Establishments operated entire year with sales...,1,Avon,CT
25,26,6001,441320,Tire dealers,All establishments,1,Avon,CT
26,27,6001,441320,Tire dealers,Establishments operated for the entire year,1,Avon,CT
27,28,6001,441320,Tire dealers,Establishments operated entire year with sales...,1,Avon,CT
28,29,6001,442,Furniture and home furnishings stores,All establishments,10,Avon,CT
29,30,6001,442,Furniture and home furnishings stores,Establishments operated for the entire year,9,Avon,CT
...,...,...,...,...,...,...,...,...
1023174,1023175,99403,454,Nonstore retailers,Establishments operated for the entire year,5,Clarkston,WA
1023175,1023176,99403,454,Nonstore retailers,Establishments operated entire year with sales...,3,Clarkston,WA
1023176,1023177,99403,454,Nonstore retailers,Establishments operated entire year with sales...,1,Clarkston,WA
1023177,1023178,99403,454,Nonstore retailers,Establishments operated entire year with sales...,1,Clarkston,WA
1023178,1023179,99403,454,Nonstore retailers,Establishments not operated for the entire year,2,Clarkston,WA
1023179,1023180,99403,4541,Electronic shopping and mail-order houses,All establishments,2,Clarkston,WA
1023180,1023181,99403,4541,Electronic shopping and mail-order houses,Establishments not operated for the entire year,2,Clarkston,WA
1023181,1023182,99403,45411,Electronic shopping and mail-order houses,All establishments,2,Clarkston,WA
1023182,1023183,99403,45411,Electronic shopping and mail-order houses,Establishments not operated for the entire year,2,Clarkston,WA
1023183,1023184,99403,454111,Electronic shopping,All establishments,2,Clarkston,WA
1023184,1023185,99403,454111,Electronic shopping,Establishments not operated for the entire year,2,Clarkston,WA
1023185,1023186,99403,4543,Direct selling establishments,All establishments,5,Clarkston,WA
1023186,1023187,99403,4543,Direct selling establishments,Establishments operated for the entire year,5,Clarkston,WA
1023187,1023188,99403,4543,Direct selling establishments,Establishments operated entire year with sales...,3,Clarkston,WA
1023188,1023189,99403,4543,Direct selling establishments,Establishments operated entire year with sales...,1,Clarkston,WA
1023189,1023190,99403,4543,Direct selling establishments,Establishments operated entire year with sales...,1,Clarkston,WA
1023190,1023191,99403,45431,Fuel dealers,All establishments,1,Clarkston,WA
1023191,1023192,99403,45431,Fuel dealers,Establishments operated for the entire year,1,Clarkston,WA
1023192,1023193,99403,45431,Fuel dealers,Establishments operated entire year with sales...,1,Clarkston,WA
1023193,1023194,99403,454310,Fuel dealers,All establishments,1,Clarkston,WA
1023194,1023195,99403,454310,Fuel dealers,Establishments operated for the entire year,1,Clarkston,WA
1023195,1023196,99403,454310,Fuel dealers,Establishments operated entire year with sales...,1,Clarkston,WA
1023196,1023197,99403,45439,Other direct selling establishments,All establishments,4,Clarkston,WA
1023197,1023198,99403,45439,Other direct selling establishments,Establishments operated for the entire year,4,Clarkston,WA
1023198,1023199,99403,45439,Other direct selling establishments,Establishments operated entire year with sales...,3,Clarkston,WA
1023199,1023200,99403,45439,Other direct selling establishments,Establishments operated entire year with sales...,1,Clarkston,WA
1023200,1023201,99403,454390,Other direct selling establishments,All establishments,4,Clarkston,WA
1023201,1023202,99403,454390,Other direct selling establishments,Establishments operated for the entire year,4,Clarkston,WA
1023202,1023203,99403,454390,Other direct selling establishments,Establishments operated entire year with sales...,3,Clarkston,WA
1023203,1023204,99403,454390,Other direct selling establishments,Establishments operated entire year with sales...,1,Clarkston,WA

In [27]:
alldata[alldata['City Name'] == 'Hartford']

,Unnamed: 0,zip,NAICS.id,NAICS.display-label,RCPSZFE.display-label,ESTAB,City Name,State
12007,12008,6101,44-45,Retail trade,All establishments,1,Hartford,CT
12008,12009,6101,44-45,Retail trade,Establishments operated for the entire year,1,Hartford,CT
12009,12010,6101,44-45,Retail trade,Establishments operated entire year with sales...,1,Hartford,CT
12010,12011,6101,442,Furniture and home furnishings stores,All establishments,1,Hartford,CT
12011,12012,6101,442,Furniture and home furnishings stores,Establishments operated for the entire year,1,Hartford,CT
12012,12013,6101,442,Furniture and home furnishings stores,Establishments operated entire year with sales...,1,Hartford,CT
12013,12014,6101,4421,Furniture stores,All establishments,1,Hartford,CT
12014,12015,6101,4421,Furniture stores,Establishments operated for the entire year,1,Hartford,CT
12015,12016,6101,4421,Furniture stores,Establishments operated entire year with sales...,1,Hartford,CT
12016,12017,6101,44211,Furniture stores,All establishments,1,Hartford,CT
12017,12018,6101,44211,Furniture stores,Establishments operated for the entire year,1,Hartford,CT
12018,12019,6101,44211,Furniture stores,Establishments operated entire year with sales...,1,Hartford,CT
12019,12020,6101,442110,Furniture stores,All establishments,1,Hartford,CT
12020,12021,6101,442110,Furniture stores,Establishments operated for the entire year,1,Hartford,CT
12021,12022,6101,442110,Furniture stores,Establishments operated entire year with sales...,1,Hartford,CT
12022,12023,6103,44-45,Retail trade,All establishments,27,Hartford,CT
12023,12024,6103,44-45,Retail trade,Establishments operated for the entire year,18,Hartford,CT
12024,12025,6103,44-45,Retail trade,Establishments operated entire year with sales...,2,Hartford,CT
12025,12026,6103,44-45,Retail trade,Establishments operated entire year with sales...,2,Hartford,CT
12026,12027,6103,44-45,Retail trade,Establishments operated entire year with sales...,4,Hartford,CT
12027,12028,6103,44-45,Retail trade,Establishments operated entire year with sales...,3,Hartford,CT
12028,12029,6103,44-45,Retail trade,Establishments operated entire year with sales...,7,Hartford,CT
12029,12030,6103,44-45,Retail trade,Establishments not operated for the entire year,9,Hartford,CT
12030,12031,6103,442,Furniture and home furnishings stores,All establishments,1,Hartford,CT
12031,12032,6103,442,Furniture and home furnishings stores,Establishments operated for the entire year,1,Hartford,CT
12032,12033,6103,442,Furniture and home furnishings stores,Establishments operated entire year with sales...,1,Hartford,CT
12033,12034,6103,4422,Home furnishings stores,All establishments,1,Hartford,CT
12034,12035,6103,4422,Home furnishings stores,Establishments operated for the entire year,1,Hartford,CT
12035,12036,6103,4422,Home furnishings stores,Establishments operated entire year with sales...,1,Hartford,CT
12036,12037,6103,44229,Other home furnishings stores,All establishments,1,Hartford,CT
...,...,...,...,...,...,...,...,...
491201,491202,57033,451110,Sporting goods stores,All establishments,1,Hartford,SD
491202,491203,57033,451110,Sporting goods stores,Establishments not operated for the entire year,1,Hartford,SD
491203,491204,57033,452,General merchandise stores,All establishments,1,Hartford,SD
491204,491205,57033,452,General merchandise stores,Establishments operated for the entire year,1,Hartford,SD
491205,491206,57033,452,General merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491206,491207,57033,4529,Other general merchandise stores,All establishments,1,Hartford,SD
491207,491208,57033,4529,Other general merchandise stores,Establishments operated for the entire year,1,Hartford,SD
491208,491209,57033,4529,Other general merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491209,491210,57033,45299,All other general merchandise stores,All establishments,1,Hartford,SD
491210,491211,57033,45299,All other general merchandise stores,Establishments operated for the entire year,1,Hartford,SD
491211,491212,57033,45299,All other general merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491212,491213,57033,452990,All other general merchandise stores,All establishments,1,Hartford,SD
491213,491214,57033,452990,All other general merchandise stores,Establishments operated for the entire year,1,Hartford,SD
491214,491215,57033,452990,All other general merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491215,491216,57033,453,Miscellaneous store retailers,All establishments,2,Hartford,SD
491216,491217,57033,453,Miscellaneous store retailers,Establishments operated for the entire year,2,Hartford,SD
491217,491218,57033,453,Miscellaneous store retailers,Establishments operated entire year with sales...,1,Hartford,SD
491218,491219,57033,453,Miscellaneous store retailers,Establishments operated entire year with sales...,1,Hartford,SD
491219,491220,57033,4533,Used merchandise stores,All establishments,2,Hartford,SD
491220,491221,57033,4533,Used merchandise stores,Establishments operated for the entire year,2,Hartford,SD
491221,491222,57033,4533,Used merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491222,491223,57033,4533,Used merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491223,491224,57033,45331,Used merchandise stores,All establishments,2,Hartford,SD
491224,491225,57033,45331,Used merchandise stores,Establishments operated for the entire year,2,Hartford,SD
491225,491226,57033,45331,Used merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491226,491227,57033,45331,Used merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491227,491228,57033,453310,Used merchandise stores,All establishments,2,Hartford,SD
491228,491229,57033,453310,Used merchandise stores,Establishments operated for the entire year,2,Hartford,SD
491229,491230,57033,453310,Used merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD
491230,491231,57033,453310,Used merchandise stores,Establishments operated entire year with sales...,1,Hartford,SD

In [25]:
alldata['zip'][0]

0     6001
0     3901
0     1001
0     2802
0    16601
0     5001
Name: zip, dtype: int64

In [26]:
alldata.to_csv("alldata.csv")